* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

/*--------------------- Variables del Documento ---------------------*/

:root {

  }

/*--------------------- Parámetros Globales ---------------------*/

.container {
    display: flex;
}


 /*--------------------- Header Carrito ---------------------*/

#titulo-carrito {
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#titulo-carrito div {
    background-color: blueviolet;
    width: 25%;
    height: 80px;
}

#titulo-carrito .titulo {
    width: 50%;
    background-color: aqua;
    text-align: center;
    font-size: 2em;
    height: fit-content;
}

#titulo-carrito .ala-izquierda,
#titulo-carrito .ala-derecha {
    flex-direction: column;
    background-color: coral;
    padding: 15px 30px;
}

#titulo-carrito .ala-izquierda div,
#titulo-carrito .ala-derecha div {
    height: 15px;
    margin-bottom: 15px;
    width: 100%;
}

#titulo-carrito .ala-izquierda div:last-child,
#titulo-carrito .ala-derecha div:last-child {
    margin-bottom: 0px;
}

