* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*--------------------- Variables del Documento ---------------------*/

:root {
  --color-negro: #202020;
  --color-gris-obscuro: #474747;
  --color-gris-claro: #666666;
  --color-blanco: #d9d9d9;
  --color-amarillo-mostaza: #ffbd59;
  --color-rojo: #ff1616;
  --color-verde: #7ed957;
}

/*--------------------- Parámetros Globales ---------------------*/

.container {
  display: flex;
}

body {
  background-color: var(--color-negro);
}

.separador {
  content: "";
  height: 10px;
  background-color: var(--color-blanco);
  width: 100%;
}

/*--------------------- Header Carrito ---------------------*/

#titulo-carrito {
  flex-direction: row;
  align-items: center;
  align-content: center;
  position: relative;
  background-color: var(--color-gris-obscuro);
}

#titulo-carrito div {
  width: 30%;
  height: 80px;
}

#titulo-carrito .ala-izquierda div,
#titulo-carrito .ala-derecha div {
  background-color: var(--color-blanco);
}

#titulo-carrito .ala-izquierda div:nth-child(2),
#titulo-carrito .ala-derecha div:nth-child(2) {
  background-color: var(--color-amarillo-mostaza);
}

#titulo-carrito .titulo {
  width: 40%;
  text-align: center;
  font-size: 1.8em;
  height: fit-content;
  color: var(--color-blanco);
}

#titulo-carrito .ala-izquierda,
#titulo-carrito .ala-derecha {
  flex-direction: column;
  padding: 25px 30px;
}

#titulo-carrito .ala-izquierda div,
#titulo-carrito .ala-derecha div {
  height: 10px;
  margin-bottom: 25px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#titulo-carrito .ala-izquierda div:last-child,
#titulo-carrito .ala-derecha div:last-child {
  margin-bottom: 0px;
}

/*--------------------- Contenido Principal ---------------------*/

#main-carrito {
  margin: 50px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#velocidad {
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

#velocidad div:last-child {
  display: flex;
  flex-direction: row;
}

#velocidad .circular-progress-text {
  color: var(--color-blanco);
  font-size: 1.3em;
  font-weight: bold;
}

#text-100 {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 13.8rem;
}

#text-0 {
  margin-left: -2px;
}

.circular-progress {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 15px 25px;
}

.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 15rem;
  height: 7.5rem; /* Half circle (overflow) */
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 1.5rem solid var(--color-gris-claro); /* half gray, */
  border-bottom-color: var(--color-amarillo-mostaza); /* half azure */
  border-right-color: var(--color-amarillo-mostaza);
  transform: rotate(150deg);
}
